  .decisionfinal{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
     height: 100%;
     margin-top: 10px;
     background-color: green;
     color: white;
     border-radius: 25px;
     pointer-events: none;
     height: 70px;

}
.decisionFinalContainer{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-top: 2rem;





}
.decisionContainer{
    height: 130px;
    display: flex;
    background: linear-gradient(270deg, #269075, #6abd6d, #09ac83);
    background-size: 800% 800%;
	animation: gradient 15s ease infinite;
    align-items: center;
    justify-content: center;
     border-radius: 15px;
     font-family: 'Nunito Sans', sans-serif;
      font-size: xx-large;

     width: 50%;
     margin: 1rem auto 1rem;



}
.decisionFinalContainer button{
    font-size: 29px;
    width: 50%;
    margin: auto;
    color: #ebf7ec;
    border: none;
    background-color: transparent;
    font-weight: 500;
    border-radius: 25px;
}

@media screen and (min-width: 600px) {

    .decisionfinal{
        pointer-events: auto;
    }
    .decisionFinalContainer button{

        padding: 0.5rem;
        margin-bottom: 1rem;
        font-size: 50px;
    }


}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
