
.choiceItem{
    background-color: rgba(88, 205, 135, 0.428);
    margin: 1rem auto;
    border-radius: 40px;
    padding: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    font-size: 25px;

}
.containerList {
 
    overflow: auto;
    

 }
@media screen and (min-width: 600px) {
   
    .choiceItem{
        width: 50%;
    }
}

