@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;800&display=swap');

.choiceItem{
    
    padding: 5px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
    font-size: 25px;
 margin-bottom: 1rem;

}
.containerList {
     /* overflow: auto; */
     width: -webkit-fill-available;
         overflow-wrap: break-word;
    margin: auto;
    background-color: hsl(147, 88%, 86%);
    box-shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.15);
 }
@media screen and (min-width: 600px) {
 .containerList{
    width: 50%;
 }   
}

