@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

.formFlex{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin:1.5rem auto;
     align-items: center;
    
     width: 50%;
}

.zInd{
    z-index: 999;
    max-height: 70vh;
}

.formFlex input{
     border-radius: 2px;
     height: 40px;
 
     box-shadow: -1px 0px 16px 5px rgba(0,0,0,0.44);
-webkit-box-shadow: -1px 0px 16px 5px rgba(0,0,0,0.44);
-moz-box-shadow: -1px 0px 16px 5px rgba(0,0,0,0.44);    
     border-style: none;
     font-family: 'Rubik', sans-serif;
     font-size :  20px;
    

}

/* .circleIcon{
    font-size: 35px;
    color:rgba(0, 128, 0, 0.899);
    

} */


@media screen and (min-width: 600px) {
    .formFlex input {
        width: 100%;
        height: 50px;
        font-size :40px;
    }
   
}
   /*  .circleIcon{
        font-size: 70px;
    }
} */

