@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;800&display=swap");

.formFlex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 1.5rem auto;
  align-items: flex-end;
}

 .formFlex input{
   width: 100%;
    font-size: 40px;
    border: 0;
    color: rgb(255, 182, 11);
    border-bottom: 5px solid;
    background-color: transparent;
}

 .circleIcon{
      color: rgb(255, 182, 11);



}

@media screen and (min-width: 600px) {
  .formFlex {
    justify-content: center;
    width: 50%;
  }
  .formFlex input {
    width: 100%;
    font-size: 40px;
    border: 0;
    color: rgb(255, 182, 11);
    border-bottom: 5px solid;
    background-color: transparent;
  }
}
/*  .circleIcon{
        font-size: 70px;
    }
} */
