@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
    overflow-x: hidden;
    background: #f0fff0;
    width: 100%;
}
 body > *{
  min-height: 100%;
 }
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
nav{
   top: 0;
  width: 100%;
  text-align: center;
 background-color: rgb(255, 255, 255);
 color: green;
 max-height: 200px;
 display: flex;
 align-items: center;
 font-family: 'Nunito Sans', sans-serif;
font-weight: 800;
  justify-content: center;
  font-size: x-large;
}
nav > h1{
  letter-spacing: 1.5px;
  font-weight: 700;
  font-size: 8vwnpm install --save-dev @next/eslint-plugin-next
;
}
ul{
  list-style: none;
  padding-inline-start: 0
}
button :hover{
   color: white;
}

footer{
  position: relative;
    text-align: center;
    background-color: rgba(0, 85, 27, 0.737);
    width: 100%;
    color: rgb(163, 229, 163);
    display: flex;
    justify-content: space-around;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9e98984f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(26, 141, 63, 0.561)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(3, 119, 51);
}
