.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: honeydew;
  justify-content: flex-start;
  width: 100%;
    position: relative;
  height:100vh;


}
.mainContent{
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  /* overflow: auto; */
  width: 80%;
  margin: 1rem auto;

}

.buttonIcon {
  height: 25px;
}
@media screen and (min-width: 600px) {
  .mainContent  {
    max-height: 800px;
  }
 


}