.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: honeydew;
  width: 100%;
  height: 100vh;
  justify-content: center;


}
.mainContent{
  display: flex;
  flex-direction: column;
  align-content: center;
  max-height: 50vh;
}

.buttonIcon {
  height: 25px;
}